body {
    background-color: darkorchid;
    text-align: center;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif
}
img {
    border-style: double;
    border-width: 7px;
    color: black;
}